.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
}
.card{
    width: 270px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;  
    align-items: center;
  
    padding: 10px;
    border-radius: 20px;
}
.image{
    width: 90%;
    height: 300px; 
}
.image img{
    border-radius: 20px; 
}
.info{
    font-size: 25px;
    justify-content: space-evenly;
}
