body{
    width:100%;
    background-color: rgb(189, 184, 184);
    overflow-x:hidden
}
.mobile-view{
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 200px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: right 0.5s linear; 
    background-color: beige;
    align-items: end;
}
.mobile-view div{
    padding: 15px;
    width: 170px;
    border-bottom: 2px solid grey;
    border-radius: 10px; 
}
.mobile-view div:hover{
    background-color: rgb(203, 120, 120);
}
span{
    font-size: 45px;
    width: fit-content; 
}
.open{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}
