body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100svh;
}
.parent1{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    perspective: 500px;
    
}
.child1{
    width: 100%;
    height: 100%;
    background-color: aqua;
    transform-style: preserve-3d;
    transform-origin: left;
    transform: rotateY(0deg);
    transition:transform 2s linear;
}
.child1:hover{
    transform: rotateY(-180deg);
}
.parent2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    perspective: 500px;
    background-color: chocolate;
    
}
.child2{
    width: 50%;
    height: 100%;
    background-color: rgb(72, 244, 78);
    transform-style: preserve-3d;
    transform-origin:left ;
    transform: rotateY(0deg);
    transition:transform 2s linear;
}
.parent2:hover .child2{
    transform: rotateY(-180deg);
}
.child3{
    width: 50%;
    height: 100%;
    background-color: rgb(72, 244, 78);
    transform-style: preserve-3d;
    transform-origin:right ;
    transform: rotateY(0deg);
    transition:transform 2s linear;
    position: absolute;
    top: 0px;
    right: 0px;
}
.parent2:hover .child3{
    transform: rotateY(180deg);
}

.parent3{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    perspective: 500px;
    
}
.child4{
    width: 100%;
    height: 100%;
    background-color: rgb(186, 18, 138);
    transform-style: preserve-3d;
    transform-origin:top;
    transform: rotateX(0deg);
    transition:transform 2s linear;
}
.parent3:hover .child4{
    transform: rotateX(-180deg);
}
.child5{
    width: 100%;
    height: 100%;
    background-color: rgb(247, 103, 31);
    transform-style: preserve-3d;
    transform-origin:top ;
    transform: rotateX(0deg);
    transition:transform 2s linear 4s; 
    position: absolute;
    top: 0px;
    right: 0px;
    
}
.parent3:hover .child5{
    transform: rotateX(180deg);
}
.child6{
    width: 100%;
    height: 100%;
    background-color: rgb(54, 45, 41);
    transform-style: preserve-3d;
    transform-origin:top ;
    transform: rotateX(0deg);
    transition:transform 2s linear 5s;
    position: absolute;
    top: 0px;
    right: 0px;
}
.parent3:hover .child6{
    transform: rotateX(180deg);
}
