body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    flex-direction: column;
    gap: 30px;
}
.demo{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 3px solid black;
    position: relative;
    box-shadow: 0px 0px 2px 2px rgb(93, 85, 70);
    overflow: hidden;
}
.demo::before{
    z-index: -1;
    position: absolute;
    content:" ";
    width: 100%;
    height: 100%;
    background-color:rgb(0, 255, 255);
    transform: translateX(-100px) skew(45deg);
    transition: transform 2s linear;
}
.demo::after{
    z-index: -1;
    position: absolute;
    content:" ";
    width: 100%;
    height: 100%;
    background-color: rgb(216, 35, 65);
    transform: translateX(100px) skew(45deg);
    transition: transform 2s linear;
}

.demo:hover::before{
    transform: translateX(-50px) skew(45deg);
}
.demo:hover::after{
    transform: translateX(50px) skew(45deg);
}
.demo1{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: rgb(61, 37, 37);
    color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 2px 2px rgb(93, 85, 70);
   transition: 0.3s;
}
.demo1:hover{
     transform:translateY(5px);
}
.demo1::before{
    position:absolute ;  
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.1);
     backdrop-filter: blur(5px);
    transition: 1s linear;
    transform: translateX(35px) translateY(20px);
}
.demo1:hover::before{
    width:90px ;
    height: 40px;
    border-radius: 10px;
    border-color: black;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    transform: translateX(-15px) translateX(15px) translateY(-10px);
    z-index: -1;
}
.demo2{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 3px solid black;
    position: relative;
    box-shadow: 0px 0px 2px 2px rgb(93, 85, 70);
    overflow: hidden;
}
.demo2::before{
    z-index: -1;
    position: absolute;
    content:" ";
    width: 100%;
    height: 100%;
    background-color:rgb(126, 238, 21);
    transform: translateX(-100px) skew(45deg);
    transition: transform 2s linear;
}
.demo2::after{
    z-index: -1;
    position: absolute;
    content:" ";
    width: 100%;
    height: 100%;
    background-color: rgb(216, 35, 65);
    transform: translateX(100px) skew(45deg);
    transition:  2s linear;
}
.demo2:hover::before{
    transform: translateX(-50px) skew(-45deg);
}
.demo2:hover::after{
    transform: translateX(50px) skew(-45deg);
}