body
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;

}
.main
{
    padding: 20px;
    width: 350px;
    height: 550px;
    background-color:black;
    box-shadow: 0px 0px 2px 5px black;
}
.value
{
    background-color:grey;
    color: white;
    font-size: 25px;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.buttons
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    padding: 10px;
    border-radius: 500px;
    background-color:grey;
    color: white;
    cursor: default;
}
button.zero
{
    grid-column:span 2;
    border-radius: 40px;
}