.first
{
    width: 200px;
    height: 200px;
    border: 5px solid red;
}
.second
{
    width: 200px;
    height: 200px;
    border: 5px solid red;
}
.third 
{
    width: 200px;
    height: 200px;
    border: 5px solid red;
}