.head
{ 
    /* selectors which consist of property and values*/
    color: whitesmoke;
    background-color: black;
    font-size: 50px;
    font-style: italic;
    font-weight: 200;
}
.container
{
    width: 100%;
    height: 2000px;
    border: 2px solid black;
    background-color: aqua;
    margin: 10px;
    padding: 20px;
       position: relative;
}
.box1
{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: blue;
    position: sticky;
    top: 200px;
}
.box2
{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: pink;
}
.box3
{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color:green;
}