body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    perspective: 600px;
    background-color: black;
}

.parent {
    height: 100px;
    width: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: myAnimation 5s infinite linear;
    
}

@keyframes myAnimation {
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.parent div {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    border: 2px solid black;
}

.left {
    transform: rotateY(90deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(-50px);
}

.top {
    transform: rotateX(90deg) translateZ(-50px);
}

.bottom {
    transform: rotateX(90deg) translateZ(50px);
}

.front {
    transform: translateZ(-50px);
}

.back {
    transform: translateZ(50px);
}

.left div,
.right div,
.top div,
.bottom div,
.front div,
.back div {
    height: 12px;
    width: 12px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-left {
    top: 20%;
    left: 20%;
}

.top-right {
    top: 20%;
    right: 20%;
}

.bottom-left {
    bottom: 20%;
    left: 20%;
}

.bottom-right {
    bottom: 20%;
    right: 20%;
}

.middle-left {
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.middle-right {
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
