body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(243, 237, 230);
}

header {
    background-image: linear-gradient(to left, rgb(195, 214, 237), rgb(30, 202, 218));
    text-align: center;
    padding: 20px;
    color: white;
    font-style: italic;
    text-decoration-line: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profiles {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center cards horizontally */
}

.card {
    width: 250px;
    height: 350px;
    border: 2px solid white;
    box-shadow: 0px 0px 4px 4px black;
    border-radius: 20px;
    padding: 20px;
   

    /* Center content inside the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 10px;
    font-size: 19px;
    color: rgb(239, 231, 231);
}


.image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
 
}


.tag {
    display:inline;
    background-color: #b1ebf5;
    color: #0db2cf;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.tag.green {
    background-color: #d4edda;
    color: #155724;
}
