
body{
   margin: 0px;
   padding: 0px;
}.parents1{
    width: 100%;
    height: 300px;
    border: 5px solid black;
    color: wheat;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}
.parents2{
    width: 500px;
    height: 400px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.parents3{
    width: 500px;
    height: 400px;
    border: 5px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.parents4{
    width: 500px;
    height: 400px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}
.child1,.child2,.child3,.child4,.child5,.child6{
     width: 150px;
    height: 100px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.child1{
    background-color: green;  
}
.child2{
    background-color: aquamarine;
}
.child3{
    background-color: brown;
}
.child4{
    background-color:orange;
}
.child5{
    background-color:rgb(210, 31, 142);
}
.child6{
    background-color: aqua;
}
