body {
  padding: 0;
  margin: 0;
  background-color: rgba(217, 212, 212, 0.3);
  height: 100svh;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 70px;
  padding: 0 40px;
 
}

.navbar img {
  width: 100px;
  height: 50px;
}

.searchbar {
  width: 600px;
  margin: 0 40px;
  position: relative;
}

.searchbar input {
  width: 100%;
  padding: 10px 15px;
  padding-left: 40px; 
  border-radius: 5px;
  border: none;
  background-color: rgb(238, 243, 245);
}

.searchbar i {
  position: absolute;
  top: 30%;
  left: 15px;
  color: #888;
}

.login,.cart,.seller,.menu {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.login select,.cart h4,.seller h4 {
  margin-left: 8px;
  border: none;
  background: none;
  font-size: 14px;
}
.menu i {
  font-size: 20px;
}

.main {
  width: 100%;
  height: calc(100svh - 60px); /* adjust for navbar height */
  display: flex;
  margin: 15px;
  gap: 15px;
}

.part1{
  width: 33.33%;
  height: 100%;
  background-color: pink;
}
.head1{
  font-size: 11px;
  padding: 10px 0px 0px 20px;
} 
.cards1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.sec1,.sec2,.sec3,.sec4{
  width: 35%;
  height: 20%;
  background-color: burlywood;
   padding: 100px 0px 0px 20px;
}
.part2{
  width: 33.33%;
  height: 100%;
  background-color: rgb(246, 23, 60);
}
.part3{
  width: 33.33%;
  height: 100%;
  background-color: rgb(73, 219, 24);
} 