body
{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100svh;
}
.grandparent
{
  perspective: 700px;
}
.parent
{
    display: flex;
    position: relative;
     width: 350px;
    height: 250px;
    transform-style: preserve-3d;
    transition: transform 1s linear;
}
.parent:hover
{
    transform: rotateY(180deg);
}
.front
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    background-image: linear-gradient(to left,black,gold);
    position: absolute;
    top: 0px;
    backface-visibility: hidden;
   
}
.back
{
    position: absolute;
    top: 0px;
     display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 250px;
    background-image: linear-gradient(to left,black,gold);
    backface-visibility: hidden;   
       transform: rotateY(180deg);
}