.parent
{
    width: 100%;
    height: 50%;
    border: 2px solid black;
    display:grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.child1
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: grey;
}
.child2
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: crimson;
}
.child3
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: goldenrod;
}
.child4
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: magenta;
}
.child5
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(68, 0, 255);
}