.parent
{
    width: 100px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child1
{
    width: 100%;
    text-align: center;
    padding: 10px;
    
}
.child2
{
    display: none;
}
.submenu
{
    padding: 5px;
}
.submenu:hover
{
    background-color: rgb(57, 63, 63);
    color: antiquewhite;
}
.parent:hover .child2{
    display: block;
}