.parent
{
    width: 200px;
    height: 200px;
    background-color: red;
}
.parent:hover{
    border-radius: 50%;
    background-color: blue;
}
.button:active
{
    border: 4px solid black;
    
}
input:focus{
    background-color: brown;
}
.header :nth-child(3)
{
    color: red;

}
h1:not(.demo)
{
    color: red;
}
.testing first:hover
{
    color: blueviolet;
}
.parents{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    display: flex;
}
.child1
{
    width: 100px;
    height: 100px;
    background-color: green;
}
.child2
{
    width: 100px;
    height: 100px;
    background-color: aquamarine
}
.parents:hover div{
    background-color: pink;
}