.head
{
    width: 200px;
    height: 200px;
    border: 5px solid red;
    font-size: 50px;
    /*internal spacing*/
    /*padding: top right bottom left*/

        padding:50px 10px 20px 40px;

    /*External spacing*/
    margin-top: 100px;
    margin-left: 150px;
}