.human
{
   
}
.hair
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
.head
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 100%;
  
    
}
.eyes1
{
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 100%;
    position: relative;
    right:25px;
    top: 20px;
}
.ball
{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    position: relative;
    top: 30%;
}
.dot
{
    width: 3px;
    height: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
}
.nose
{
    width: 1px;
    height: 15px;
    border:2px solid black;
    position: relative;
    top: 10px;
    left: 25px;
}
.mouth
{
    width: 25px;
    height: 10px;
    border: 2px solid black;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.neck
{
    width: 40px;
    height: 30px;
    border: 2px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.humanbody
{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
}
.shirt
{
    width: 0px;
    height: 100%;
    border: 2px solid black;
}
.buttons
{
    width: 3px;
    height: 3px;
    border:2px solid brown;
    border-radius: 100%;
    position: absolute;
    top: 10px;

}