.parent
{
    width: 300px;
    height: 300px;
    border: 5px solid red;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: aquamarine;
}
.child
{
    width: calc(300px/2);
    height: calc(300px/2);
    border: 5px solid black;
    border-radius: 100px;
    background-color: pink;

}