.card
{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 3px rgb(255, 68, 0);
    background-image: linear-gradient(to top right ,rgb(16, 8, 65),rgb(123, 12, 31));
  
}
.image
{
    width: 10px;
    height: 50px;
    background-color: grey;
    border: 10px;
    border-radius: 10px 10px 10px 10px;
}