.header-1
{
    color: #00ff00;
    
}
.header-2
{
    color: #ff00ff;
}
.header-3
{
    color: #865894;
}
.header-4
{
    color: #56eeff;
}
.header-5
{
    color: #45673f;
}
.header-6
{
    color: rgb(0,255,255,0.8);
}
.header-7
{
    color: rgb(0, 255,255,0.6);
}
.header-8
{
    color: rgb(0, 255, 255,0.5);
}
.header-9
{
    color: rgb(0,0,255,0.5);
}
.header-10
{
    color: rgb(0,255,255,0.3);
}