task5.html

.sun
{
    width: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 100px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 0, 0.707);
    background-color:rgba(255, 166, 0, 0.855);
}
.road
{
    width: 100%;
    height: 150px;
   
    position: absolute;
    top: 550px;
    background-color:rgb(93, 91, 88);
}
.line
{
    position: absolute;
    top: 60px;
    left: 40px;
    width: 55px;
    height: 15px;
    position: absolute;
   
    background-color: white;
}
.car
{
    width: 100px;
    height: 35px;
    border: 1px solid red;
    position: absolute;
    bottom: 164px;
    right: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: red;
}
.top
{
    width: 50px;
    height: 25px;
    border: 1px solid blue;
    position: absolute;
    bottom: 35px;
    right: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: red;
}
.wheel
{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 35px;
    right: 10px;
    
}
.treebody
{
    width: 30px;
    height: 100px;
    border: 1px solid brown;
    background-color: rgba(165, 42, 42, 0.842);
    position: absolute;
    bottom: 165px;
    left: 70px;
}

.leaf1
{
    width: 50px;
    height: 50px;
    background-color: green;
    bottom: 260px;
    left: 40px;
    border-radius: 100%;
    position: absolute;

}
.leaf2
{
    width: 50px;
    height: 50px;
    background-color: green;
    bottom: 260px;
    left: 40px;
    border-radius: 100%;
    position: absolute;

}
.leaf3
{
    width: 50px;
    height: 50px;
    background-color: green;
    bottom:290px;
    left: 40px;
    border-radius: 100%;
    position: absolute;

}

