body
{
    margin: 0px;
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card
{
    width: 400px;
    height: 250px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px 3px rgb(148, 15, 115);
    background-image:linear-gradient(to top right ,rgb(168, 111, 222),rgb(228, 127, 144));
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;

    
}
.image img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 2px 2px rgb(223, 30, 62);
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 10px;
}