body{
    margin: 30px;
}
.header{
    
}
.part1{
    width: 100%;
    height: 350px;
    background-color: rgb(60,28,91);
     display: flex;
}
.logo{
    padding: 10px 0px 0px 90px;
}
.content{

    height: 100px;
    width: 200px;
    color: white;
    padding-top: 70px;
    padding-left: 80px;
   font-size: 15px;
}
.content p{
    font-size: 12px;
    line-height: 20px;
}

.read{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 20px;
    font-size: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgb(89, 182, 219);
}
.image1{
    padding: 60px 0px 0px 90px;
  
}